/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (25x25)
        app/assets/images/sprites/social-share-button/delicious.png (25x25)
        app/assets/images/sprites/social-share-button/douban.png (25x25)
        app/assets/images/sprites/social-share-button/email.png (25x25)
        app/assets/images/sprites/social-share-button/facebook.png (25x25)
        app/assets/images/sprites/social-share-button/flickr.png (25x25)
        app/assets/images/sprites/social-share-button/google_bookmark.png (25x25)
        app/assets/images/sprites/social-share-button/google_plus.png (25x25)
        app/assets/images/sprites/social-share-button/kaixin001.png (25x25)
        app/assets/images/sprites/social-share-button/plurk.png (25x25)
        app/assets/images/sprites/social-share-button/qq.png (25x25)
        app/assets/images/sprites/social-share-button/renren.png (25x25)
        app/assets/images/sprites/social-share-button/tqq.png (25x25)
        app/assets/images/sprites/social-share-button/tumblr.png (25x25)
        app/assets/images/sprites/social-share-button/twitter.png (25x25)
        app/assets/images/sprites/social-share-button/weibo.png (25x25)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          64x64


*/
.social-share-button-baidu { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) 0px 0px no-repeat }
.social-share-button-delicious { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -25px 0px no-repeat }
.social-share-button-douban { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) 0px -25px no-repeat }
.social-share-button-email { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -25px -25px no-repeat }
.social-share-button-facebook { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -50px 0px no-repeat }
.social-share-button-flickr { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -50px -25px no-repeat }
.social-share-button-google_bookmark { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) 0px -50px no-repeat }
.social-share-button-google_plus { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -25px -50px no-repeat }
.social-share-button-kaixin001 { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -50px -50px no-repeat }
.social-share-button-plurk { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -75px 0px no-repeat }
.social-share-button-qq { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -75px -25px no-repeat }
.social-share-button-renren { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -75px -50px no-repeat }
.social-share-button-tqq { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) 0px -75px no-repeat }
.social-share-button-tumblr { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -25px -75px no-repeat }
.social-share-button-twitter { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -50px -75px no-repeat }
.social-share-button-weibo { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -75px -75px no-repeat }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .social-share-button-baidu { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) 0px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-delicious { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -25px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-douban { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -25px no-repeat; background-size:64px 64px;}
  .social-share-button-email { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -25px -25px no-repeat; background-size:64px 64px;}
  .social-share-button-facebook { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -50px 0px no-repeat; background-size:64px 64px;}
  .social-share-button-flickr { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -50px -25px no-repeat; background-size:64px 64px;}
  .social-share-button-google_bookmark { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -50px no-repeat; background-size:64px 64px;}
  .social-share-button-google_plus { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -25px -50px no-repeat; background-size:64px 64px;}
  .social-share-button-kaixin001 { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -50px -50px no-repeat; background-size:64px 64px;}
  .social-share-button-plurk { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button.png')) -75px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-qq { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -75px 25px no-repeat; background-size:64px 64px;}
  .social-share-button-renren { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -75px -50px no-repeat; background-size:64px 64px;}
  .social-share-button-tqq { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -75 no-repeat; background-size:64px 64px;}
  .social-share-button-tumblr { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -25px -75px no-repeat; background-size:64px 64px;}
  .social-share-button-twitter { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -50px -75px no-repeat; background-size:64px 64px;}
  .social-share-button-weibo { display:inline-block; width: 25px; height: 25px; background: url(image-path('sprites/social-share-button@2x.png')) -75px -75px no-repeat; background-size:64px 64px;}
}
