/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (20x20)
        app/assets/images/sprites/social-share-button/delicious.png (20x20)
        app/assets/images/sprites/social-share-button/douban.png (20x20)
        app/assets/images/sprites/social-share-button/email.png (20x20)
        app/assets/images/sprites/social-share-button/facebook.png (20x20)
        app/assets/images/sprites/social-share-button/flickr.png (20x20)
        app/assets/images/sprites/social-share-button/google_bookmark.png (20x20)
        app/assets/images/sprites/social-share-button/google_plus.png (20x20)
        app/assets/images/sprites/social-share-button/kaixin001.png (20x20)
        app/assets/images/sprites/social-share-button/plurk.png (20x20)
        app/assets/images/sprites/social-share-button/qq.png (20x20)
        app/assets/images/sprites/social-share-button/renren.png (20x20)
        app/assets/images/sprites/social-share-button/tqq.png (20x20)
        app/assets/images/sprites/social-share-button/tumblr.png (20x20)
        app/assets/images/sprites/social-share-button/twitter.png (20x20)
        app/assets/images/sprites/social-share-button/weibo.png (20x20)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          64x64


*/
.social-share-button-baidu { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) 0px 0px no-repeat }
.social-share-button-delicious { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -20px 0px no-repeat }
.social-share-button-douban { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) 0px -20px no-repeat }
.social-share-button-email { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -20px -20px no-repeat }
.social-share-button-facebook { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -40px 0px no-repeat }
.social-share-button-flickr { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -40px -20px no-repeat }
.social-share-button-google_bookmark { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) 0px -40px no-repeat }
.social-share-button-google_plus { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -20px -40px no-repeat }
.social-share-button-kaixin001 { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -40px -40px no-repeat }
.social-share-button-plurk { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -60px 0px no-repeat }
.social-share-button-qq { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -60px -20px no-repeat }
.social-share-button-renren { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -60px -40px no-repeat }
.social-share-button-tqq { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) 0px -60px no-repeat }
.social-share-button-tumblr { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -20px -60px no-repeat }
.social-share-button-twitter { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -40px -60px no-repeat }
.social-share-button-weibo { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -60px -60px no-repeat }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .social-share-button-baidu { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) 0px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-delicious { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -20px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-douban { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -20px no-repeat; background-size:64px 64px;}
  .social-share-button-email { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -20px -20px no-repeat; background-size:64px 64px;}
  .social-share-button-facebook { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -40px 0px no-repeat; background-size:64px 64px;}
  .social-share-button-flickr { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -40px -20px no-repeat; background-size:64px 64px;}
  .social-share-button-google_bookmark { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -40px no-repeat; background-size:64px 64px;}
  .social-share-button-google_plus { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -20px -40px no-repeat; background-size:64px 64px;}
  .social-share-button-kaixin001 { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -40px -40px no-repeat; background-size:64px 64px;}
  .social-share-button-plurk { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button.png')) -60px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-qq { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -60px 20px no-repeat; background-size:64px 64px;}
  .social-share-button-renren { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -60px -40px no-repeat; background-size:64px 64px;}
  .social-share-button-tqq { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -60 no-repeat; background-size:64px 64px;}
  .social-share-button-tumblr { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -20px -60px no-repeat; background-size:64px 64px;}
  .social-share-button-twitter { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -40px -60px no-repeat; background-size:64px 64px;}
  .social-share-button-weibo { display:inline-block; width: 20px; height: 20px; background: url(image-path('sprites/social-share-button@2x.png')) -60px -60px no-repeat; background-size:64px 64px;}
}
