/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (23x23)
        app/assets/images/sprites/social-share-button/delicious.png (23x23)
        app/assets/images/sprites/social-share-button/douban.png (23x23)
        app/assets/images/sprites/social-share-button/email.png (23x23)
        app/assets/images/sprites/social-share-button/facebook.png (23x23)
        app/assets/images/sprites/social-share-button/flickr.png (23x23)
        app/assets/images/sprites/social-share-button/google_bookmark.png (23x23)
        app/assets/images/sprites/social-share-button/google_plus.png (23x23)
        app/assets/images/sprites/social-share-button/kaixin001.png (23x23)
        app/assets/images/sprites/social-share-button/plurk.png (23x23)
        app/assets/images/sprites/social-share-button/qq.png (23x23)
        app/assets/images/sprites/social-share-button/renren.png (23x23)
        app/assets/images/sprites/social-share-button/tqq.png (23x23)
        app/assets/images/sprites/social-share-button/tumblr.png (23x23)
        app/assets/images/sprites/social-share-button/twitter.png (23x23)
        app/assets/images/sprites/social-share-button/weibo.png (23x23)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          64x64


*/
.social-share-button-baidu { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) 0px 0px no-repeat }
.social-share-button-delicious { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -23px 0px no-repeat }
.social-share-button-douban { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) 0px -23px no-repeat }
.social-share-button-email { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -23px -23px no-repeat }
.social-share-button-facebook { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -46px 0px no-repeat }
.social-share-button-flickr { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -46px -23px no-repeat }
.social-share-button-google_bookmark { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) 0px -46px no-repeat }
.social-share-button-google_plus { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -23px -46px no-repeat }
.social-share-button-kaixin001 { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -46px -46px no-repeat }
.social-share-button-plurk { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -69px 0px no-repeat }
.social-share-button-qq { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -69px -23px no-repeat }
.social-share-button-renren { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -69px -46px no-repeat }
.social-share-button-tqq { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) 0px -69px no-repeat }
.social-share-button-tumblr { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -23px -69px no-repeat }
.social-share-button-twitter { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -46px -69px no-repeat }
.social-share-button-weibo { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -69px -69px no-repeat }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .social-share-button-baidu { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) 0px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-delicious { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -23px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-douban { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -23px no-repeat; background-size:64px 64px;}
  .social-share-button-email { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -23px -23px no-repeat; background-size:64px 64px;}
  .social-share-button-facebook { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -46px 0px no-repeat; background-size:64px 64px;}
  .social-share-button-flickr { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -46px -23px no-repeat; background-size:64px 64px;}
  .social-share-button-google_bookmark { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -46px no-repeat; background-size:64px 64px;}
  .social-share-button-google_plus { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -23px -46px no-repeat; background-size:64px 64px;}
  .social-share-button-kaixin001 { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -46px -46px no-repeat; background-size:64px 64px;}
  .social-share-button-plurk { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button.png')) -69px 0px no-repeat; background-size:64px 64px; }
  .social-share-button-qq { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -69px 23px no-repeat; background-size:64px 64px;}
  .social-share-button-renren { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -69px -46px no-repeat; background-size:64px 64px;}
  .social-share-button-tqq { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) 0px -69 no-repeat; background-size:64px 64px;}
  .social-share-button-tumblr { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -23px -69px no-repeat; background-size:64px 64px;}
  .social-share-button-twitter { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -46px -69px no-repeat; background-size:64px 64px;}
  .social-share-button-weibo { display:inline-block; width: 23px; height: 23px; background: url(image-path('sprites/social-share-button@2x.png')) -69px -69px no-repeat; background-size:64px 64px;}
}
